<app-create-issue (issueCreated)="onIssueCreated($event)" [editingIssue]="editingIssue()"
    (issueUpdated)="onIssueUpdated($event)" />

<h1>Issues</h1>

<h1>Issues</h1>

@if (isLoading()) {
  <p>Loading issues...</p>
} @else {

  @if (errorMessage()) {
    <p>{{ errorMessage() }}</p>
  }

  @if (issues().length === 0) {
    <p>No issues found.</p>
  } @else {
    @for (issue of issues(); track issue.id) {
      <app-issue-card
        [issue]="issue"
        (editClicked)="onEditIssue($event)"
        (deleteClicked)="onDeleteIssue($event)"
      />
    }
  }
}